<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SPOTIFY_CLIENT_ID</key>
    <string>your_client_id_here</string>
    <key>SPOTIFY_CLIENT_SECRET</key>
    <string>your_client_secret_here</string>
    <key>SPOTIFY_REDIRECT_URI</key>
    <string>your_redirect_uri_here</string>
</dict>
</plist>
